.flex-child {
    flex: 2;
    margin: 2rem auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

.table-formater {
    width: 100%;
    min-width: 25rem;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.custom-modal {
    width: 50%;
    height: auto;
    right: auto;
    bottom: auto;
    border: none;
    background-color: white;
}